@media(max-width:320px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        display: flex;
        justify-content: center;
    }
   
    .footer-wrapper{
        display: inline;
    }
    .footer-copyright {
        grid-area: ft;
        background-color: blueviolet;
        padding: auto;
        text-align: center;
        margin-top: 15px;
    }
    
    .footer-main-div{
        width: 100%;
        height: auto;
        margin: auto;
        background: rgb(16, 124, 57);
        padding: 20px 0px;
        bottom: 0;
        position: relative;
    }
    .footer-social-icons{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .footer-social-icons ul{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .footer-social-icons ul li{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0px 10px;
        border-radius: 100%;
        background: rgb(0, 255, 13)
    }
}

@media(min-width:321px)and (max-width:572px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        display: flex;
        justify-content: center;
    }
    
    .footer-social-icons ul li{
        width: 30px;
        height: 30px;
        margin: 0px 5px;
        padding: 5px;
        border-radius: 100%;
        background: rgb(0, 255, 13);
    }

    .footer-copyright {
        grid-area: ft;
        background-color: blueviolet;
        padding: auto;
        text-align: center;
        margin-top: 15px;
    }

    .footer-main-div{
        width: 100%;
        height: auto;
        margin-top: 20px;
        background: rgb(16, 124, 57);
        padding: 20px 0px;
        bottom: 0;
        position: relative;
    }
}
@media(min-width:573px)and (max-width:900px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        display: flex;
        justify-content: center;
    }
    
    .footer-social-icons ul li{
        width: 30px;
        height: 30px;
        margin: 0px 5px;
        padding: 5px;
        border-radius: 100%;
        background: rgb(0, 255, 13);
    }

    .footer-copyright {
        grid-area: ft;
        background-color: blueviolet;
        padding: auto;
        text-align: center;
        margin-top: 15px;
    }

    .footer-main-div{
        width: 100%;
        height: auto;
        margin-top: 20px;
        background: rgb(16, 124, 57);
        padding: 20px 0px;
        bottom: 0;
        position: sticky;
    }
}

@media(min-width:901px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        display: flex;
        justify-content: center;
    }
    
    .footer-social-icons ul li{
        width: 30px;
        height: 30px;
        margin: 0px 5px;
        padding: 5px;
        border-radius: 100%;
        background: rgb(0, 255, 13);
    }

    .footer-copyright {
        grid-area: ft;
        background-color: blueviolet;
        padding: auto;
        text-align: center;
        margin-top: 15px;
    }

    .footer-main-div{
        width: 100%;
        height: auto;
        margin-top: 20px;
        background: rgb(16, 124, 57);
        padding: 20px 0px;
        bottom: 0;
        position: sticky;
    }
}

}