@media(max-width:430px){
    .title {
        color: lawngreen;
    }
    .header {
        min-width: 100%;
        min-height: 100%;
        margin-bottom: 2em;
        margin-top: 1em;
        background-color: #043131;
        text-align: center;
        padding-bottom: .5em;
    }
    .navbar-flex{
        list-style-type: none;
        margin:0;
        padding:0;
        display:flex;
        flex-direction: column;
    }

    .navbar-li{
        margin:0.5em;
    }

    a:link{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    .avatar {
        border-radius: 100%;
    }
    nav h1 {
     text-align: center;
    }
    .button {
        align-items: center;
    }
}

@media(min-width:431px)and (max-width:572px){
    .title {
        color: lawngreen;
    }
    
    header {
        display: flex;
        grid-area: hd;
        min-width: 100%;
        justify-content: space-evenly;
        min-height: 100%;
        margin-bottom: 1em;
        background-color: #043131;
        padding-top: .5em;
    }

    a:link{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    .avatar {
        border-radius: 100%;
    }

    /* nav h1 {
        display: inline;
    } */
    /* .contact {
        display: inline;
        margin-left: 2em;
    }   */

}

@media(min-width:573px)and (max-width:900px){
    .title {
        color: lawngreen;
    }
    
    header {
        display: flex;
        grid-area: hd;
        min-width: 100%;
        justify-content: space-evenly;
        min-height: 100%;
        margin-bottom: 1em;
        background-color: #043131;
        padding-top: .5em;
    }
    a:link{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    .avatar {
        border-radius: 100%;
    }
    nav h1 {
        display: inline;
    }
}

@media(min-width:901px){
    .title {
        color: lawngreen;
    }
    
    header {
        display: flex;
        grid-area: hd;
        min-width: 100%;
        justify-content: space-evenly;
        min-height: 100%;
        margin-bottom: 1em;
        background-color: #043131;
        padding-top: 1em;
    }

    a:link{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    .avatar {
        border-radius: 100%;
    }
}
    /* nav h1 {
        display: inline;
    }
    .contact {
        display: inline;
        margin-left: 2em;
    } */