@import url("header.css");
@import url("footer.css");
@import url("video.css");
@import url("audio.css");

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "hd hd hd"
        "mn mn mn"
        "ft ft ft";
    grid-gap: 111px;
    min-height: 100%;
    margin: 0;
    background-color: #066868;
}

.blog-post-card {
    grid-area: mn;
    width: 75vw;
    max-width: 550px;
    min-width: 526px;
    max-height: 320px;
    padding: 20px;
    background-color: rgb(63, 227, 63);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    justify-content: center;
    justify-self: center;
    box-shadow: 5px 10px rgb(100, 3, 170);
}

.blog-post-title {
    align-self: center;
    padding-left: 2.3em;
    margin-top: 1px;
    margin-left: .42em;
    display: inline;
}

/* Listen Button */
.listen-button {
    padding: 11px 20px;
    margin-left: 11em;
    margin-top: 5em;
    background-color: honeydew;
    border: 2px dotted purple;
    border-radius: 50%;
    cursor: pointer;
}

.button:hover, .listen-button:hover {
    filter: blur(1px);
}

.blog-post-text {
    padding-left: 1em;
    margin-left: 1em;
    color: rgb(0, 0, 0);
    display: inline;
}

.blog-post-info {
    height: 224px;
}